.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -1px 1px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 12px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 12px -4px rgba(0,0,0,0.75);
    margin: 30px 0;
}
.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfilePic{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}
.postDate{
    font-size: 12px;
}
